@model IEnumerable<ContosoUniversity.ViewModels.InstructorNameGroup>
@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

<p>
    @Html.ActionLink("Create New", "CreateInstructor")
</p>

<table class ="table">
    <tr>
        <th>
            Instructor Surname
        </th>
        <th>
            Instructor Subjects
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @item.CourseTitle

            </td>
        </tr>
    }
</table>